.red {
    background-color: #FFAAAA;
}

.green {
    background-color: #AAFFAA;
}

.gray {
    opacity: 0.4;
}

.wg-icon {
    margin: auto;
    height: 100px;
    width: 100px;
}

.wg-title {
    margin: auto;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.img-padding {
    vertical-align: middle;
    margin:auto;
}

ion-item ion-label {
    white-space: normal;
    padding-right: 1em;
}

ion-item ion-label:nth-child(2) {
    text-align: right;
}

//.card-ios p {
//    text-align: center;
//}

.bold {
   font-weight: bold;
}

.indent {
    padding-left: 1em;
}

ion-row.pop .result-centered {
    font-size: 13pt;
    padding-top: 3em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

ion-row.exp .result-centered {
    font-size: 13pt;
    padding-top: 1.1em;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}