.red {
    background-color: #FFAAAA;
}

.green {
    background-color: #AAFFAA;
}

.gray {
    opacity: 0.4;
}

.wg-icon {
    margin: auto;
    height: 100px;
    width: 100px;
}

.wg-title {
    margin: auto;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.img-padding {
    vertical-align: middle;
    margin:auto;
}

ion-item ion-label {
    white-space: normal;
}

.card-ios p {
    text-align: center;
}