<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab middle class="fab-menu-left">
      <button ion-fab secondary mini menuToggle="left"><ion-icon name="menu"></ion-icon></button>
    </ion-fab>
    <ion-fab middle class="fab-menu-right">
        <button ion-fab secondary mini menuToggle="right"><ion-icon name="menu"></ion-icon></button>
      </ion-fab>
<table class="fullsize">
  <tr>
    <td>topleft</td>
    <td>topright</td>
  </tr>
  <tr>
    <td>bottomleft</td>
    <td>
      <ion-row *ngFor="let mate of roommates | sortRoommates">
        <ion-col>
            <ion-icon class="arrow-trend" *ngIf="mate.trend>0" name="arrow-round-up" item-start></ion-icon>
            <ion-icon class="arrow-trend" *ngIf="mate.trend==0" name="arrow-round-forward" item-start></ion-icon>
            <ion-icon class="arrow-trend" *ngIf="mate.trend<0" name="arrow-round-down" item-start></ion-icon>  
        </ion-col>
        <ion-col>{{mate.powerusage}}</ion-col>
        <ion-col [ngClass]="{'current': mate.current}">{{mate.current? 'You' : mate.name}}</ion-col>
      </ion-row>
    </td>
  </tr>
</table>
</ion-content>
