// http://ionicframework.com/docs/theming/

@import "../theme/variables";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-navbar {
    background-color: map-get($colors,primary) !important;
  }

.toolbar-title {
    color: black !important;
}

.toolbar-background {
    background: none;
}

.title-lead {
    h1 {
        font-size: 24pt;
        line-height: 34pt;
    }
    height: 200px;
    max-width: 450px;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}

.lead {
    font-size: 15pt;
    font-family: Arial 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    max-width: 450px;
    margin: auto;
    text-align: center;


    &.box-login {
    }
    
    &.box-register {
        background-color: map-get($colors,primary);
    }
}

.nodivider div.item-inner {
    border: none !important;
}

.label-ios {
}